{% extends 'base.html' %}
{% load filtros %}

{% block "conteudo" %} 
    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel2">Deseja realmente excluir este livro?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <a href="{% url 'excluir_livro' id_livro %}" class="brn btn-danger">Excluir</a>
          </div>
          
        </div>
      </div>
    </div>


    <div class="container">
        <br>
        <form action="#" method="POST">
            {% csrf_token %}
            <p>
                <label>Nome do livro:</label>
                <input class= "form-control" type="text" value="{{livro.nome}}">
            </p>

            <p>
                <label>Nome do autor:</label>
                <input style="width:40%;" class= "form-control" type="text" value="{{livro.autor}}">
            </p>

            <p>
                <label>Data de cadastro:</label>
                <input style="width:20%;" class= "form-control" type="text" value="{{livro.data_cadastro}}">
            </p>

            <p>
                <label>Categoria:</label>
                <select style="width:20%;" class="form-control" type="text">
                    {% for categoria in categoria_livro %}
                        {% if livro.categoria.nome == categoria.nome %}
                            <option selected>{{categoria}}</option>
                        {% else %}
                            <option >{{categoria}}</option>
                        {% endif %}
                    {% endfor %}                
                </select>
            </p>
                    
            <label>Emprestado &nbsp; &nbsp;</label>
            {% if livro.emprestado  %}
                <input style="transform: scale(2.0);" checked type="checkbox" name="emprestado">
            {% else %}
                <input style="transform: scale(2.0);" type="checkbox" name="emprestado">
            {% endif %}
            <br>
            <br>
            <input type="submit" class="btn btn-success btn-lg" value="Salvar">
        </form>
        <br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModal2">
          Excluir
        </button>

        <hr>
        <h2>Ver hitórico de empréstimos</h2>

        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data do empréstimo</th>
                <th scope="col">Data de devolução</th>
                <th scope="col">Tempo de duração</th>
              </tr>
            </thead>
            <tbody>
              {% for e in emprestimos %}
                <tr>
                  {% if e.nome_emprestado_anonimo == None %}
                    <th scope="row">{{e.nome_emprestado}}</th>
                  {% else %}
                    <th scope="row">{{e.nome_emprestado_anonimo}}</th>
                  {% endif %}
                  <td>{{e.data_emprestimo}}</td>
                  <td>{{e.data_devolucao}}</td>
                  <td>{{e.data_emprestimo|mostra_duracao:e.data_devolucao}} Dias</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    {% endblock  %}
